/* Ini CSS */
.element-style {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.element-style>nav>button {
    height: 32px;
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    font-family: fangsong;
    font-size: inherit;
}

.content-style>header {
    text-align: center;
}

.content-body {
    display: flex;
}

.content-item {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin: 18px;
}

.content-item>header>h2 {
    text-align: left;
    margin-left: 8px;
    font-family: math;
    font-size: large;
}

.content-item>header>h3 {
    text-align: left;
    margin-left: 8px;
    font-family: math;
    font-size: smaller;
}

.item-form {
    text-align: left;
    margin-left: 8px;
    font-family: math;
}

.item-form>label {
    display: flex;
    margin-left: 0%;
    font-family: math;
    font-size: large;
}

.item-form>input {
    display: flex;
    height: 40px;
    width: 50%;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 4px;
}