/* Ini CSS */
.element-style {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.element-style>nav>button {
    height: 32px;
    border: 1px solid black;
    background-color: white;
}