/* Ini CSS */
.element-style {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.element-style>nav>button {
    height: 32px;
    border: 1px solid black;
    background-color: white;
}

.content-style>header {
    text-align: center;
}

.content-body {
    display: flex;
}

.content-item {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin: 18px;
}

.content-item>header>h2 {
    text-align: center;
}

.item-form {
    text-align: center;
}

.item-form>input {
    height: 26px;
    width: 50%;
    margin-left: 8px;
    border: 1px solid darkgrey;
    border-radius: 4px;
}